req
prompt
slackclient==1.3.2
pymongo==3.10.1
zope-interface==5.1.0
tabulate==0.8.7
rasa-core-sdk==0.14.0
rasa-nlu==0.15.1
html2text
webexteamssdk==1.3
pyhamcrest
torch
jmespath==0.9.5
terminaltables==3.1.0
python-telegram-bot==11.1.0
twilio==6.39.0
pykwalify==1.7.0
python-crfsuite==0.9.7
fbmessenger==5.6.0
python-engineio==3.12.1
fakeredis==0.10.3
redis==2.10.6
questionary==1.5.2
msgpack==0.5.6
automat==20.2.0
pika==0.12.0
rasa-core==0.14.5
ruamel-yaml==0.15.100
importlib
blis==0.4.1
rocketchat-api==0.6.36
boto3==1.13.6
spacy==2.2.1
colorclass==2.2.0
scikit-learn==0.20.4
flask-jwt-simple==0.0.3
ld
gevent==1.5.0
thinc==7.1.1
regex==2018.1.10
sty==1.0.0b12
sklearn-crfsuite==0.3.6
botocore==1.16.6
mattermostwrapper==2.2
klein==17.10.0
tzlocal==2.1
colorhash==1.0.2
