apscheduler==3.6.3
automat==20.2.0
blis==0.4.1
boto3==1.13.6
botocore==1.16.6
chardet==3.0.4
cloudpickle==0.6.1
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
configargparse==0.13.0
constantly==15.1.0
cryptography==2.9.2
cymem==2.0.3
cytoolz==0.9.0.1
dill==0.2.9
docopt==0.6.2
docutils==0.15.2
fakeredis==0.10.3
fbmessenger==5.6.0
flask-cors==3.0.8
flask-jwt-simple==0.0.3
future==0.17.1
gevent==1.5.0
greenlet==0.4.15
humanfriendly==8.2
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
inflect==0.2.5
jmespath==0.9.5
jsonpickle==1.4.1
jsonschema==2.6.0
klein==17.10.0
librosa==0.6.0
matplotlib
mattermostwrapper==2.2
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
packaging==18.0
pika==0.12.0
pillow
plac==0.9.6
preshed==3.0.2
pydot==1.4.1
pyhamcrest==2.0.2
pyjwt==1.7.1
pykwalify==1.7.0
pymongo==3.10.1
python-crfsuite==0.9.7
python-engineio==3.12.1
python-socketio==3.1.2
python-telegram-bot==11.1.0
pytz==2018.9
questionary==1.5.2
rasa-core==0.14.5
rasa-core-sdk==0.14.0
rasa-nlu==0.15.1
redis==2.10.6
regex==2018.1.10
requests-toolbelt==0.9.1
rocketchat-api==0.6.36
s3transfer==0.3.3
scikit-learn==0.20.4
simplejson==3.17.0
sklearn-crfsuite==0.3.6
slackclient==1.3.2
spacy==2.2.1
srsly==1.0.2
sty==1.0.0b12
tabulate==0.8.7
tensorboardX
terminaltables==3.1.0
thinc==7.1.1
torch==1.5.0
twilio==6.39.0
twisted==20.3.0
typing==3.7.4.1
tzlocal==2.1
ujson==2.0.3
unidecode==1.0.22
urllib3==1.25.9
wasabi==0.6.0
webexteamssdk==1.3
websocket-client==0.54.0
wrapt==1.10.11
zope-interface==5.1.0
