<html>
  <head>
    <base href="http://127.0.0.1:8000/rasadjango/dadbot/templates/"></head>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
              <p>¡Dadbot está listo para cascar!. Escribe tus mensajes o dile 'quieto parao'.</p>
              <br>
              <form method=post action="" id=form>
                <!-- Sanic OK, uncomment for django: \{\% csrf_token \%\} -->
                <table>
                {% for field in form %}
                <tr>
                <td>{{ field.label }}: </td><td>{{ field }}</td><!-- td>{{ field.name }}</td -->
                </tr>
                {% endfor %}
                </table>
                <p><input type=submit value=Chatea></p>
              </form>

              <p>
                {% if result != None %}
                <table>
                    <tr>
                    <td><h3 style="color:blue;">{{ result }}</h3></td>
                    </tr>
                </table>
                <audio id="response-voice" :src="getCurrentIncomingMessage.link" autoplay></audio>
                {% endif %}
              </p>
  </body>
</html>

