<!-- index.html -->
<html>
  <head>
      <title>Rasa Chatbot</title>
      <meta name=viewport content="width=device-width, initial-scale=1">

      <!-- CSS -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    </head>
  
  <body>

      <!-- chatbot code -->
          <mybot></mybot>
    <!--chatbot code ends->

    
    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="script.js" crossorigin="anonymous"></script>
    
  </body>
</html>
